<h1>Artists</h1>

<p>
  <%= link_to 'New Artist', new_artist_path %>
</p>

<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(id: artist.id) %></li>
  <% end %>
</ul>
