<h1><%= @artist.name %></h1>


<div class="row">
  <div class="col-xs-8">
    <div class="list-group">
      <% if @artist.albums.empty? %>
        <p>
          No Albums Found
        </p>
      <% end %>
      <% @artist.albums.each do |album| %>
        <%= link_to album.title, album_path(id: album.id), class: 'list-group-item' %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-4">
    <p class="text-right">
      <%= link_to 'New Album', new_album_path(artist_id: @artist.id), class: "btn btn-primary" %>

    </p>
  </div>
</div>
