<div class="home">

  <div class="page-header">
    <h1>Welcome!</h1>
  </div>


  <p>
    View our <%= link_to 'Contacts', contacts_path %>
  </p>

  <%= image_tag 'address_book.png' %>
  <%= image_tag 'open-book.jpg', class: 'openbook' %>

</div>
