<div class="page-header">
  <h1><%= @contact.full_name %></h1>
</div>

<ul>
  <li>
    <strong>email: </strong> <%= @contact.email %>
  </li>


</ul>

<div class="">
  <%= link_to 'Edit', edit_contact_path, class: 'btn btn-default btn-lg' %>
</div>

<hr>
<%= link_to 'Back to Contact List', contacts_path %>
