<h1>Albums</h1>

<p>
  There are <%= pluralize @albums.count, 'album' %> in the Database.
</p>

<ul>
  <% @albums.each do |album| %>
    <li><%= link_to album.title, album_path(id: album.id) %> - <%=pluralize album.track_count, 'track' %></li>
  <% end %>
</ul>
