<div class="jumbo">
  <div class="littlebox">
    <p>
      You should buy from us.
    </p>
    <p>
        <%= link_to root_path, class: 'btn btn-primary' do %>
          Home <span class="glyphicon glyphicon-asterisk"></span>
        <% end %>

        <%= link_to 'Home', root_path, class: 'btn btn-primary' %>



    </p>
  </div>
</div>
